.Wrapper {
  display: grid;
}

.Button {
  background-color: var(--dark-yellow);
  color: #fff;
  padding: 0.7rem 2.5rem;
  border: none;
  font-family: "Londrina Solid", cursive;
  font-weight: 300;
  font-size: 1.3rem;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  cursor: pointer;
}
