.Wrapper {
  display: grid;
}

.Button {
  background-color: var(--dark-yellow);
  color: #fff;
  padding: 0.7rem 2.5rem;
  border: none;
  border-radius: 5px;
  font-family: "Londrina Solid", cursive;
  font-weight: 300;
  font-size: 2rem;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  cursor: pointer;
}

.Wrapper::after {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  margin: -0.45rem -0.45rem 0.45rem 0.45rem;
  border: 3px solid #fff;
  border-radius: 5px;
}
