.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr) 14px;
  background-image: url(./../../assets/bckg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 1rem;
}

.Logo {
  grid-column: 1 / 2;
  grid-row: 1 /2;
  justify-self: center;
}

.Reference {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 10px;
  text-align: right;
}

.Reference__link {
  text-decoration: none;
  color: var(--red);
}

@media (min-width: 500px) {
  .App {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) 14px;
  }
  .Logo {
    grid-row: 1 / 3;
  }
  .Reference {
    grid-row: -2 / -1;
  }
}
