.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr) 14px;
  background-image: url(./../../assets/bckg.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.Logo {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.Reference {
  grid-column: 1 / -1;
  grid-row: -2 / -1;
  font-size: 10px;
  text-align: right;
}

.Reference__link {
  text-decoration: none;
  color: var(--red);
}
