:root {
  --yellow: #f7d20c;
  --dark-yellow: #f75808;
  --red: #eb1442;
  --green: #14eb75;
  margin: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: inherit;
  box-sizing: inherit;
}
